<div class="box">
    <h1>Whack-A-Mole</h1>
    <p>Sign up to play and track your score!</p>
    <div class="pt-4">
        <a href="/users/register" class="button is-primary">Register</a>
        <a href="/users/login" class="button is-secondary">Login</a>
    </div>
</div>