<h1>Login</h1>

<form action="/users/login" method="POST">
    <div class="form_group">
        <label for="email" class="label">Email</label>
        <input type="email" name="email" class="input" placeholder="Email"
            value="<%= typeof email != 'undefined' ? email : '' %>">
    </div>
    <div class="form_group">
        <label for="password" class="label">Password</label>
        <input type="password" name="password" class="input" placeholder="Password"
            value="<%= typeof password != 'undefined' ? password : '' %>">
    </div>

    <div class="form_group">
        <button type="submit" class="button is-primary">Login</button>
    </div>
</form>