<h1>Register</h1>

<form action="/users/register" method="POST">
    <div class="form_group">
        <label for="name" class="label">Name</label>
        <input type="text" name="name" class="input" placeholder="Name" value="<%= typeof name != 'undefined' ? name : '' %>">
    </div>
    <div class="form_group">
        <label for="email" class="label">Email</label>
        <input type="email" name="email" class="input" placeholder="Email" value="<%= typeof email != 'undefined' ? email : '' %>">
    </div>
    <div class="form_group">
        <label for="password" class="label">Password</label>
        <input type="password" name="password" class="input" placeholder="Password">
    </div>
    <div class="form_group">
        <label for="confirmPassword" class="label">Confirm Password</label>
        <input type="password" name="confirmPassword" class="input" placeholder="Confirm Password">
    </div>
    <div class="form_group">
        <button type="submit" class="button is-primary">Register</button>
    </div>
</form>